$red: #e31212;
$pink: #ff4ba8;
$purple: #ee1adc;
$blue: #1537ac;
$cyan: #4bf7ff;
$green: #0adc1e;

html, body { height: 100%; }
body {
	background-image: linear-gradient(rgba(#000, 0.25), rgba(#fff, 0.25) 50%, rgba(#fff, 0) 50%), linear-gradient($red, $red 50%, #fff 50%);
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: "Nunito", sans-serif;
}
#speedtest {
	position: relative;
	width: 300px;
	height: 300px;
	padding: 20px;
	// background: rgba(#fff, 0.5);
	border-radius: 6px;
	// box-shadow: 0 12px 32px rgba($blue, 0.5);
	box-sizing: border-box;
	#gauge {
		width: 100%;
		height: 100%;
		padding: 12px;
		background: #fff;
		border-radius: 50%;
		box-shadow: 0 0 32px rgba($blue, 0.25), inset 0 -192px 192px -240px $red;
		box-sizing: border-box;
		path:first-child {
			opacity: 1 !important;
			display: block !important;
		}
	}
	#gauge-label {
		position: absolute;
		top: 47.5%;
		left: 50%;
		font-size: 64px;
		transform: translate(-50%,-50%);
		color: $red;
		&:after {
			content: "Mbit/s";
			position: absolute;
			font-size: 35%;
			bottom: 5px;
			left: 50%;
			transform: translate(-50%,100%);
		}
	}
	&:before, &:after {
		display: block;
		position: absolute;
		bottom: 25%;
		font-family: inherit;
		font-size: 14px;
		color: lighten(desaturate($blue, 62.5%), 25%);
	}
	&:before {
		content: "0";
		left: 28%;
	}
	&:after {
		content: "100";
		right: 28%;
	}
}